#inputArea{
    margin: 20px 20px 5px 100px;
    padding:5px;
    background-color: antiquewhite;
    border: 5px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px gray;
    height: 100%;
    width: 500px;
    display: block;
    float:left;
}

.mydiv{
    margin-left: 20px;
    color: blueviolet;
    float: left;
    padding: 0px 0px 10px 5px;
}

#selectAlgo{
    float: right;
    margin-right: 30px;
    color: tomato;
    background-color: turquoise;
    height: 100%;
    padding:10px ;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 3px 6px 8px gray;
}

#submitBtn{
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    color: wheat;
    margin-left: 30px;
}

#makeTable{
float:right;
margin: 20px 100px 5px 20px;
padding: 5px;
background-color: antiquewhite;
border: 5px;
border-radius: 10px;
box-shadow: 5px 10px 10px gray;
height: 100%;
width: 700px;
display: block;
}
.head{
   color:blueviolet;
   margin: 5px 0 5px 20px;
   padding: 5px;
   text-align: center;
}

table, th, tr, td{
border: 1.5px solid rgb(255, 3, 3);
border-collapse: collapse;
padding: 20px;
margin-left: 70px;
}

#reset{
    margin-left: 20px;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    color: wheat;
}
